<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсы валют</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
    <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style>
        body{
            background-color: #eee;
        }

        table th , table td{
            text-align: center;
        }

        table tr:nth-child(even){
            background-color: #BEF2F5
        }

        .pagination li:hover{
            cursor: pointer;
        }







    </style>
</head>
<body>
<div class="container">
    <form method="GET" action="/rate2">
        <div class="pretty_form small_form with_bg with_bottom_shadow vertical" id="UniDbQuery_form">
            <dt><label for="UniDbQuery_VAL_NM_RQ" id="label_UniDbQuery_VAL_NM_RQ"></label></dt>
            <dd>
                <div class="select-container">
                    <select name="UniDbQuery.VAL_NM_RQ" id="UniDbQuery_VAL_NM_RQ">
                        <option value="R01010">Австралийский доллар</option>
                        <option value="R01020">Азербайджанский манат</option>
                        <option value="R01060">Армянский драм</option>
                        <option value="R01090">Белорусский рубль</option>
                        <option value="R01100">Болгарский лев</option>
                        <option value="R01115">Бразильский реал</option>
                        <option value="R01135">Венгерский форинт</option>
                        <option value="R01815">Вон Республики Корея</option>
                        <option value="R01200">Гонконгский доллар</option>
                        <option value="R01215">Датская крона</option>
                        <option value="R01235">Доллар США</option>
                        <option value="R01239">Евро</option>
                        <option value="R01270">Индийская рупия</option>
                        <option value="R01335">Казахстанский тенге</option>
                        <option value="R01350">Канадский доллар</option>
                        <option value="R01370">Киргизский сом</option>
                        <option value="R01375">Китайский юань</option>
                        <option value="R01500">Молдавский лей</option>
                        <option value="R01710">Новый туркменский манат</option>
                        <option value="R01535">Норвежская крона</option>
                        <option value="R01565">Польский злотый</option>
                        <option value="R01585">Румынский лей</option>
                        <option value="R01589">СДР (специальные права з</option>
                        <option value="R01625">Сингапурский доллар</option>
                        <option value="R01670">Таджикский сомони</option>
                        <option value="R01700">Турецкая лира</option>
                        <option value="R01717">Узбекский сум</option>
                        <option value="R01720">Украинская гривна</option>
                        <option value="R01035">Фунт стерлингов Соединенного королевтсва</option>
                        <option value="R01760">Чешская крона</option>
                        <option value="R01770">Шведская крона</option>
                        <option value="R01775">Швейцарский франк</option>
                        <option value="R01810">Южноафриканский рэнд</option>
                        <option value="R01820">Японская иена</option>
                    </select>
                </div>
                <div data-valmsg-replace="true" data-valmsg-for="UniDbQuery.VAL_NM_RQ"></div>
            </dd>
            <dl class="type_text">
                <dd class="combined-fields">
                    <div class="combined-fields__item">
                        <label class="c_f_1" for="UniDbQuery_FromDate">c</label>
                        <input class="date-edit hasDatepicker" id="UniDbQuery_FromDate"
                               name="UniDbQuery.FromDate"
                               type="text" value="23.10.2019">
                    </div>
                    <div class="combined-fields__item">
                        <label class="c_f_2" for="UniDbQuery_ToDate">по</label>
                        <input class="date-edit hasDatepicker" id="UniDbQuery_ToDate"
                               name="UniDbQuery.ToDate"
                               type="text"
                               value="30.10.2019">
                    </div>
                </dd>
            </dl>
            <dl>
                <dd>
                    <input type="submit" id="UniDbQuery_searchbutton" value="Получить данные">
                </dd>
            </dl>
        </div>
    </form>


    <h2>Таблица курса валют</h2>
    <div class="form-group">    <!--		Show Numbers Of Rows 		-->
        <select class="form-control" name="state" id="maxRows">
            <option value="5000">Выбирите количество строк</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="100">100</option>
        </select>

    </div>
    <input id="myInput" type="text" placeholder="Search..">
    <table id="myTable" class="table table-bordered sortable" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm sorting">Название валюты</th>
            <th class="th-sm sorting">Дата</th>
            <th class="th-sm sorting">Курс</th>
        </tr>
        </thead>
        <tbody id="myTableBody">
        {% for rate in rates %}

        <tr>
            <td>{{ rate.name }}</td>
            <td>{{ rate.date }}</td>
            <td>{{ rate.value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--		Start Pagination -->
    <div class='pagination-container'>
        <nav>
            <ul class="pagination">

                <li data-page="prev">
                    <span> < <span class="sr-only">(current)</span></span>
                </li>
                <!--	Here the JS Function Will Add the Rows -->
                <li data-page="next" id="prev">
                    <span> > <span class="sr-only">(current)</span></span>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});

$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

 getPagination('#myTable');
	function getPagination (table){

        		var lastPage = 1 ;

		  $('#maxRows').on('change',function(evt){

		lastPage = 1 ;
         $('.pagination').find("li").slice(1, -1).remove();
		  	var trnum = 0 ;
		  	var maxRows = parseInt($(this).val());

		  	if(maxRows == 5000 ){

		  		$('.pagination').hide();
		  	}else {

		  		$('.pagination').show();
		  	}

		  	var totalRows = $(table+' tbody tr').length;
			 $(table+' tr:gt(0)').each(function(){
			 	trnum++;
			 	if (trnum > maxRows ){

			 		$(this).hide();
			 	}if (trnum <= maxRows ){$(this).show();}
			 });
			 if (totalRows > maxRows){
			 	var pagenum = Math.ceil(totalRows/maxRows);

			 	for (var i = 1; i <= pagenum ;){
			 	$('.pagination #prev').before('<li data-page="'+i+'">\
								      <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
								    </li>').show();
			 	}											// end for i
			} 												// end if row count > max rows
			$('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
			$('.pagination li').on('click',function(evt){		// on click each page
				evt.stopImmediatePropagation();
				evt.preventDefault();
				var pageNum = $(this).attr('data-page');	// get it's number

				var maxRows = parseInt($('#maxRows').val());			// get Max Rows from select option

				if(pageNum == "prev" ){
					if(lastPage == 1 ){return;}
					pageNum  = --lastPage ;
				}
				if(pageNum == "next" ){
					if(lastPage == ($('.pagination li').length -2) ){return;}
					pageNum  = ++lastPage ;
				}

				lastPage = pageNum ;
				var trIndex = 0 ;							// reset tr counter
				$('.pagination li').removeClass('active');	// remove active class from all li
				$('.pagination [data-page="'+lastPage+'"]').addClass('active');// add active class to the clicked
				// $(this).addClass('active');					// add active class to the clicked
				 $(table+' tr:gt(0)').each(function(){		// each tr in table not the header
				 	trIndex++;								// tr index counter
				 	// if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
				 	if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
				 		$(this).hide();
				 	}else {$(this).show();} 				//else fade in
				 }); 										// end of for each tr in table
					});										// end of on click pagination list

		}).val(5).change();

												// end of on select change



								// END OF PAGINATION
	}




</script>
</body>
</html>